# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Country,Date
0,0,rikitea,-23.1203,-134.9692,76.59,100.0,86.0,16.22,PF,1.623046e+09
1,1,carnarvon,-24.8667,113.6333,78.60,100.0,48.0,11.12,AU,1.623046e+09
2,2,marcona,5.4112,100.3354,89.89,40.0,70.0,3.51,MY,1.623046e+09
3,3,georgetown,60.0158,41.0614,65.35,65.0,68.0,9.75,RU,1.623046e+09
4,4,syamzha,-53.1500,-70.9167,37.51,0.0,87.0,9.40,CL,1.623046e+09

In [3]:
city_data.count()

Unnamed: 0    560
City          560
Lat           560
Lng           560
Max Temp      560
Cloudiness    560
Humidity      560
Wind Speed    560
Country       557
Date          560
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
humidity = city_data["Humidity"]
maxhumidity = humidity.max()
#Use the Lat and Lng as location
locations = city_data[["Lat", "Lng"]]
#Humidity as the weight
weight = city_data["Humidity"]

In [5]:
#Plot heat maps
figure = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight,dissipating=False, max_intensity= 30, point_radius=3)
figure.add_layer(heat_layer)

# Display figure

In [6]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at
# a readable size
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure

## Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
ideal_city = city_data.loc[(city_data['Max Temp'] < 85) & (city_data['Max Temp']>60)\
                         & (city_data['Wind Speed'] < 10)\
                         & (city_data['Cloudiness'] == 0)] 
#store as a new variable
ideal_city = ideal_city.copy()

ideal_city

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Country,Date
104,104,puri,39.8885,4.2658,64.96,0.0,88.0,4.61,ES,1.623046e+09
121,121,torbay,-22.9575,14.5053,70.09,0.0,41.0,7.18,NaN,1.623046e+09
139,139,hamilton,-22.1160,14.2845,69.85,0.0,46.0,8.10,NaN,1.623046e+09
177,177,raudeberg,-20.7333,139.5000,80.37,0.0,22.0,8.05,AU,1.623046e+09
181,181,kahului,-33.5906,26.8910,61.95,0.0,38.0,9.57,ZA,1.623046e+09
256,256,tabuk,65.5842,22.1547,60.87,0.0,51.0,2.30,SE,1.623046e+09
289,289,lulea,39.4696,3.1483,69.96,0.0,76.0,3.89,ES,1.623046e+09
292,292,vad,18.2164,42.5053,80.85,0.0,18.0,3.98,SA,1.623046e+09
302,302,popondetta,47.8667,88.1167,71.44,0.0,22.0,9.26,CN,1.623046e+09
321,321,irbil,52.4994,73.0975,74.88,0.0,25.0,4.68,KZ,1.623046e+09
329,329,longlac,-20.3297,-40.2925,69.94,0.0,95.0,1.01,BR,1.623046e+09
386,386,les cayes,38.7370,35.4968,62.62,0.0,51.0,1.14,TR,1.623046e+09
394,394,pitrufquen,52.3710,84.3873,72.88,0.0,48.0,9.93,RU,1.623046e+09
423,423,axim,31.6100,34.7642,76.78,0.0,27.0,2.26,IL,1.623046e+09
432,432,san quintin,59.3875,9.1737,64.85,0.0,76.0,1.97,NO,1.623046e+09
436,436,pierre,36.1683,54.3480,83.73,0.0,25.0,2.51,IR,1.623046e+09
535,535,bafang,69.3143,16.1194,60.78,0.0,55.0,9.22,NO,1.623046e+09

In [19]:
#clean up DataSet by remooving NAN
clean_ideal = ideal_city.dropna()

clean_ideal

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Country,Date
104,104,puri,39.8885,4.2658,64.96,0.0,88.0,4.61,ES,1.623046e+09
177,177,raudeberg,-20.7333,139.5000,80.37,0.0,22.0,8.05,AU,1.623046e+09
181,181,kahului,-33.5906,26.8910,61.95,0.0,38.0,9.57,ZA,1.623046e+09
256,256,tabuk,65.5842,22.1547,60.87,0.0,51.0,2.30,SE,1.623046e+09
289,289,lulea,39.4696,3.1483,69.96,0.0,76.0,3.89,ES,1.623046e+09
292,292,vad,18.2164,42.5053,80.85,0.0,18.0,3.98,SA,1.623046e+09
302,302,popondetta,47.8667,88.1167,71.44,0.0,22.0,9.26,CN,1.623046e+09
321,321,irbil,52.4994,73.0975,74.88,0.0,25.0,4.68,KZ,1.623046e+09
329,329,longlac,-20.3297,-40.2925,69.94,0.0,95.0,1.01,BR,1.623046e+09
386,386,les cayes,38.7370,35.4968,62.62,0.0,51.0,1.14,TR,1.623046e+09
394,394,pitrufquen,52.3710,84.3873,72.88,0.0,48.0,9.93,RU,1.623046e+09
423,423,axim,31.6100,34.7642,76.78,0.0,27.0,2.26,IL,1.623046e+09
432,432,san quintin,59.3875,9.1737,64.85,0.0,76.0,1.97,NO,1.623046e+09
436,436,pierre,36.1683,54.3480,83.73,0.0,25.0,2.51,IR,1.623046e+09
535,535,bafang,69.3143,16.1194,60.78,0.0,55.0,9.22,NO,1.623046e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
#Storing new DataFrame into variable named hotel_df.
hotel_df = clean_ideal.copy()

#Adding a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Country,Date,Hotel Name
104,104,puri,39.8885,4.2658,64.96,0.0,88.0,4.61,ES,1.623046e+09,
177,177,raudeberg,-20.7333,139.5000,80.37,0.0,22.0,8.05,AU,1.623046e+09,
181,181,kahului,-33.5906,26.8910,61.95,0.0,38.0,9.57,ZA,1.623046e+09,
256,256,tabuk,65.5842,22.1547,60.87,0.0,51.0,2.30,SE,1.623046e+09,
289,289,lulea,39.4696,3.1483,69.96,0.0,76.0,3.89,ES,1.623046e+09,
292,292,vad,18.2164,42.5053,80.85,0.0,18.0,3.98,SA,1.623046e+09,
302,302,popondetta,47.8667,88.1167,71.44,0.0,22.0,9.26,CN,1.623046e+09,
321,321,irbil,52.4994,73.0975,74.88,0.0,25.0,4.68,KZ,1.623046e+09,
329,329,longlac,-20.3297,-40.2925,69.94,0.0,95.0,1.01,BR,1.623046e+09,
386,386,les cayes,38.7370,35.4968,62.62,0.0,51.0,1.14,TR,1.623046e+09,
394,394,pitrufquen,52.3710,84.3873,72.88,0.0,48.0,9.93,RU,1.623046e+09,
423,423,axim,31.6100,34.7642,76.78,0.0,27.0,2.26,IL,1.623046e+09,
432,432,san quintin,59.3875,9.1737,64.85,0.0,76.0,1.97,NO,1.623046e+09,
436,436,pierre,36.1683,54.3480,83.73,0.0,25.0,2.51,IR,1.623046e+09,
535,535,bafang,69.3143,16.1194,60.78,0.0,55.0,9.22,NO,1.623046e+09,

In [26]:
#Set parameters to search for hotels with 5000 meters

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {
    "radius": 50000,
    "types": "lodging",
    "keyword": "hotel",
    "api_key": g_key
}

In [33]:
hotel_df = ideal_city.reset_index(drop=True)
hotel_df["Hotel Name"] = ""
#Hit the Google Places API for each city's coordinates.


# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # get location from df
      
    coordinates = f"{row['Lat']},{row['Lng']}"
    params = {"location": coordinates, "radius": 5000, "type": 'lodging', "keyword":"hotel", "api_key": g_key}
  
        # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
       
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
         
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        print("--------------------Ending Search")
hotel_df

Retrieving Results for Index 0: puri.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 1: torbay.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 2: hamilton.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 3: raudeberg.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 4: kahului.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 5: tabuk.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 6: lulea.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 7: vad.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 8: popondetta.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 9: irbil.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 10: longlac.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 11: les cayes.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 12: pitrufquen.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 13: axim.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 14: san quintin.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 15: pierre.
Missing field/result... skipping.
--------------------Ending Search
Retrieving Results for Index 16: bafang.
Missing field/result... skipping.
--------------------Ending Search

,Unnamed: 0,City,Lat,Lng,Max Temp,Cloudiness,Humidity,Wind Speed,Country,Date,Hotel Name
0,104,puri,39.8885,4.2658,64.96,0.0,88.0,4.61,ES,1.623046e+09,
1,121,torbay,-22.9575,14.5053,70.09,0.0,41.0,7.18,NaN,1.623046e+09,
2,139,hamilton,-22.1160,14.2845,69.85,0.0,46.0,8.10,NaN,1.623046e+09,
3,177,raudeberg,-20.7333,139.5000,80.37,0.0,22.0,8.05,AU,1.623046e+09,
4,181,kahului,-33.5906,26.8910,61.95,0.0,38.0,9.57,ZA,1.623046e+09,
5,256,tabuk,65.5842,22.1547,60.87,0.0,51.0,2.30,SE,1.623046e+09,
6,289,lulea,39.4696,3.1483,69.96,0.0,76.0,3.89,ES,1.623046e+09,
7,292,vad,18.2164,42.5053,80.85,0.0,18.0,3.98,SA,1.623046e+09,
8,302,popondetta,47.8667,88.1167,71.44,0.0,22.0,9.26,CN,1.623046e+09,
9,321,irbil,52.4994,73.0975,74.88,0.0,25.0,4.68,KZ,1.623046e+09,
10,329,longlac,-20.3297,-40.2925,69.94,0.0,95.0,1.01,BR,1.623046e+09,
11,386,les cayes,38.7370,35.4968,62.62,0.0,51.0,1.14,TR,1.623046e+09,
12,394,pitrufquen,52.3710,84.3873,72.88,0.0,48.0,9.93,RU,1.623046e+09,
13,423,axim,31.6100,34.7642,76.78,0.0,27.0,2.26,IL,1.623046e+09,
14,432,san quintin,59.3875,9.1737,64.85,0.0,76.0,1.97,NO,1.623046e+09,
15,436,pierre,36.1683,54.3480,83.73,0.0,25.0,2.51,IR,1.623046e+09,
16,535,bafang,69.3143,16.1194,60.78,0.0,55.0,9.22,NO,1.623046e+09,

In [29]:
 #Store into variable named hotel_df
hotel_df = hotel_df.loc[:,["City","Country","Lat","Lng"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

           City Country      Lat       Lng Hotel Name
0          puri      ES  39.8885    4.2658
1        torbay     NaN -22.9575   14.5053
2      hamilton     NaN -22.1160   14.2845
3     raudeberg      AU -20.7333  139.5000
4       kahului      ZA -33.5906   26.8910
5         tabuk      SE  65.5842   22.1547
6         lulea      ES  39.4696    3.1483
7           vad      SA  18.2164   42.5053
8    popondetta      CN  47.8667   88.1167
9         irbil      KZ  52.4994   73.0975
10      longlac      BR -20.3297  -40.2925
11    les cayes      TR  38.7370   35.4968
12   pitrufquen      RU  52.3710   84.3873
13         axim      IL  31.6100   34.7642
14  san quintin      NO  59.3875    9.1737
15       pierre      IR  36.1683   54.3480
16       bafang      NO  69.3143   16.1194

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""

# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
locations

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
figure.add_layer(markers)

# Display figure

In [ ]:
#Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
markers = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)

# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# Display figure